<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <div style="word-spacing: 10px">
        <a href="../index/index.html" rel="import">HTML</a>
        <a href="../index/style.html" rel="import">CSS</a>
        <a href="../index/candle.html" rel="import">Javascript</a>
    </div>
    </div>
    <div class="content">
    <div class="container">
        <img src="../picture/flower.jpg" alt="sun flower">
        <p >Lorem ispum dolor sit amet consectetur aipiscing elit. Nulla, hic ? 
            A rem harum nesciunt non nobis quo debitis,explicabo adipisci tempora! 
             Volutatibus, culpa impedit ? Assumenda iure minima nesciunt alias!
        </p>
    </div>

    
    <div class="container">
        <img src="../picture/flower.jpg" alt="sun flower">
        <p >Lorem ispum dolor sit amet consectetur aipiscing elit. Nulla, hic ? 
            A rem harum nesciunt non nobis quo debitis,explicabo adipisci tempora! 
             Volutatibus, culpa impedit ? Assumenda iure minima nesciunt alias!
        </p>
    </div>
    
    <div class="container">
        <img src="../picture/flower.jpg" alt="sun flower">
        <p >Lorem ispum dolor sit amet consectetur aipiscing elit. Nulla, hic ? 
            A rem harum nesciunt non nobis quo debitis,explicabo adipisci tempora! 
             Volutatibus, culpa impedit ? Assumenda iure minima nesciunt alias!
        </p>
    </div>
    
    <div class="container">
        <img src="../picture/flower.jpg" alt="sun flower">
        <p >Lorem ispum dolor sit amet consectetur aipiscing elit. Nulla, hic ? 
            A rem harum nesciunt non nobis quo debitis,explicabo adipisci tempora! 
             Volutatibus, culpa impedit ? Assumenda iure minima nesciunt alias!
        </p>
    </div>
    
    <div class="container">
        <img src="../picture/flower.jpg" alt="sun flower">
        <p >Lorem ispum dolor sit amet consectetur aipiscing elit. Nulla, hic ? 
            A rem harum nesciunt non nobis quo debitis,explicabo adipisci tempora! 
             Volutatibus, culpa impedit ? Assumenda iure minima nesciunt alias!
        </p>
    </div>
</div>
</body>
</html>